<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/Assets/Css/Header.css">
    <link rel="stylesheet" href="/Assets/Css/Product_page.css">
    <link rel="stylesheet" href="/Assets/Css/Products.css">
    <link rel="stylesheet" href="/Assets/Css/pre_footer.css">
    <link rel="stylesheet" href="/Assets/Css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <header>
    <h2 class="logo">Tech-Shop</h2>
    <nav>
    <div id="search"><i class="fa-solid fa-magnifying-glass"></i></div>
    <div id="cart"><a href="/Templates/cart_page.html"><i class="fa-solid fa-cart-shopping"></i></a></div>
    <div id="user-icon"><i class="fa-regular fa-user" id="user"></i>
     <div class="user-dropdown">
      <p class>Hello!</p>
      <p class>Acess account and manage orders</p>
     <button class="signup"><a href="/Templates/Registration.html">Login / Signup</a></button>
     <hr>
     <div class="login"><a href="#">Please Login</a></div>
     </div>
    </div>
    </nav>
    </header>
    <div><span id="addtocart">4</span></div>
    <!-- Shop Now Page Starts Here -->
    <div class="product-container">
     <div class="product-images">
      <figure>
        <img src="/images/products/jbl660nc-1.png" class="first-img">
        <img src="/images/products/jbl660nc-2.png"alt="jbl660nc">
        <img src="/images/products/jbl660nc-3.png" alt="jbl660nc">
        <img src="/images/products/jbl660nc-4.png"alt="jbl660nc">
      </figure>
     </div>
     <div class="headphone">
      <img src="/images/products/jbl660nc-1.png" alt="jbl660nc">
     </div>
     <div class="prd-Dscrp">
      <h2>JBL LIVE 660NC</h2>
      <p>Wireless Over-Ear NC Headphones</p>
      <span class="rating">★★★★★</span>
      <span>| 1234 Rating</span>
      <span class="bars"></span>
      <p class="price2">₹9,999 <span>₹14,999</span></p>
      <p class="save">You save:₹5,000(33%)</p>
      <span>(Inclusive of all taxes)</span>
      <input type="button" value="✓ In Stock"class="Stock-btn">
      <span class="bars"></span>
      <h3>Offers and Discounts</h3>
      <div class="offers">
      <p>No Cost EMI on Credit<br>Card</p>
      <p>Pay later & Avail Cashback</p>
      </div>
      <span class="bars"></span>
      <button id="cart-btn2"><a href="#">Add to Cart</a></button>
     </div>
    </div>
   <!-- Specification of Product Details Starts Here -->
    <div class="Prd_details">
      <h2 class="action"><a href="">Specification</a></h2>
      <h2 class="over"><a href="#">Overview</a></h2>
      <h2 class="over"><a href="#">Reviews</a></h2>
    </div>
    <div class="Specification">
      <div>
        <p>Brand</p>
        <p>Model<p>
        <p>Generic Name</p>
        <p>Headphone Type</p>
        <p>Connectivity</p>
        <p>Microphone</p>
      </div>
      <div class="Details">
        <p>JBL</p>
        <p>JBL Live 660NC</p>
        <p>Headphones</p>
        <p>Over-Ear</p>
        <p>Wireless</p>
        <p>Yes</p>
      </div>
      </div>
    <!-- Related Products Starts Here -->
    <div class="RelatedHead"><h2>Related Products</h2></div>
    <div class="Head-container">
      <div class="product-card">
        <div class="prod-descrp">
        <img src="/images/products/jbl660nc-1.png" alt="JBL Live 660NC">
        <div class="rating">★★★★★</div>
        <h3>JBL Live 660NC</h3>
        <p>Wireless Over-Ear NC <br>Headphones</p>
        <span class="bar"></span>
        <p class="price">₹9,999 <span>₹14,999</span></p>
        <button class="cart-btn">Add to cart</button>
        </div>
        </div>
      <div class="product-card">
        <img src="/images/products/boat518-1.png" alt="boAt Rockerz 518">
        <div class="rating">★★★★★</div>
        <h3>boAt Rockerz 518</h3>
        <p>On-Ear Wireless Headphones</p>
        <span class="bar"></span>
        <p class="price">₹1,299 <span>₹3,990</span></p>
        <button class="cart-btn">Add to cart</button>
      </div>
      <div class="product-card">
      <img src="/images/products/boat410-1.png" alt="boAt Rockerz 518">
      <div class="rating">★★★★★</div>
      <h3>boAt Rockerz 410</h3>
      <p>Bluetooth & Wired On-Ear<br>Headphones</p>
      <span class="bar"></span>
      <p class="price">₹1,599 <span>₹2,990</span></p>
      <button class="cart-btn">Add to cart</button>
        </div>
        <div class="product-card">
      <img src="/images/products/sonyXb910n-1.png" alt="boAt Rockerz 518">
      <div class="rating">★★★★★</div>
      <h3>Sony WH-XB910N</h3>
      <p>Wireless Over-Ear<br>Headphones</p>
      <span class="bar"></span>
      <p class="price">₹499 <span>₹999</span></p>
      <button class="cart-btn">Add to cart</button>
        </div>
        </div>
        <div class="loading-container">
          <div class="dot active"></div>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
           </div>
      
    <!-- Our Advantages Starts Here -->
   <div class="advantages">
    <h2 class="advhead">Our Advantages</h2> 
  </div>

  <div class="features">
   <div class="feature-item">
     <i class="fa-sharp fa-solid fa-truck-fast"></i>
   <div class="Delivery">
     <h3>Express Delivery</h3>
     <p>Ships in 24 Hours</p>
   </div>
   </div>
   <div class="feature-item">
     <i class="fa-sharp fa-solid fa-shield-halved"></i>
     <div class="Delivery">
     <h3>Brand Warranty</h3>
     <p>100% Original products</p>
     </div>
   </div>
   <div class="feature-item">
     <i class="fa-solid fa-tags"></i>
     <div class="Delivery">
     <h3>Exciting Deals</h3>
     <p>On all prepaid orders</p>
     </div>
   </div>
   <div class="feature-item">
     <i class="fa-duotone fa-regular fa-credit-card"></i>
     <div class="Delivery">
     <h3>Secure Payments</h3>
     <p>SSL / Secure certificate</p>
     </div>
   </div>
   </div>
<!-- Footer Starts Here -->
<div class="main-footer">
  <div class="section">
    <h2>Tech-Shop</h2>
    <p>Subscribe to our Email alerts to recieve <br>early discount offers,and new products <br>info.</p>
    <input type="email" placeholder="Email Address*"><br>
    <button class="sub-btn">Subscribe</button>
  </div>
  <div class="section2">
    <h4>Help</h4>
    <ul type="none">
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Track Order</a></li>
      <li><a href="#">Cancel Order</a></li>
      <li><a href="#">Return Order</a></li>
      <li><a href="#">Warranty Info</a></li>
    </ul>
  </div>
  <div class="section2">
    <h4>Polics</h4>
    <ul type="none">
      <li><a href="#">Return Policy</a></li>
      <li><a href="#">Security</a></li>
      <li><a href="#">Sitemap</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
    </ul>
  </div>
  <div class="section2">
    <h4>Company</h4>
    <ul type="none">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Service Centres</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Affiliates</a></li>
    </ul>
  </div>     
   <span class="line"></span>
</div>
<div class="end-foot">
    <span>2024 | All Rights Reserved.Built by | SANJAY VELDURTHI</span>
    <div>
    <div class="social-icons">
    <a href="https://www.facebook.com/profile.php?id=100015546152342&mibextid=ZbWKwL"><i class='bx bxl-facebook'></i></a>
    <a href="https://www.instagram.com/sanjay_saahu_14?igsh=MW90ZHBlbW4yMXc1ZQ=="><i class='bx bxl-instagram'></i></a>
    <a href="https://github.com/veldurthsanjay"><i class='bx bxl-github'></i></a>
    <a href="https://www.linkedin.com/in/veldurthisanjay123"><i class='bx bxl-linkedin' ></i></a>
    <a href="https://www.behance.net/veldurthisanjay"><i class='bx bxl-behance' ></i></a>
  </div>
</div>
</div>
</body>
</html>