<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/Assets/Css/Registration.css">
</head>
<body>
    <form>
        <span id="exit">×</span>
        <legend>Signup</legend>
        <p>Already have an account?<span>Login</span></p>
            <input type="text" placeholder="Username" class="label"><br>
            <input type="email" placeholder="Email" class="label"><br>
            <input type="pswd" placeholder="Password" class="label"><br>
            <input type="pswd" placeholder="Confirm Password" class="label"><br>
            <input type="submit" value="Signup"  name="Sign In" id="btn1"><br>
            <div class="loginline">
             <span> </span>
             <p class="orlogin">or login with</p>
             <span></span>
            </div>
            <div id="socialI">
            <button class="Fb"><a href="#"></a>Facebook</button>
            <button class="Gogle"><a href=""></a>Google</button>
            <button class="twit"><a href=""></a>Twitter</button>
            </div>
    </form>
</body>
</html>